<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <input
                type="text"
                class="form-control"
                placeholder="search"
                [(ngModel)]="searchString"
                style="width: 40%"
            /><br/>
            <h3>Employee Details</h3>
            <br>
            <table class="table table-hover table-striped table-responsive" id="myTable">
                <tr>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let emp of empDetails | filter : searchString; let i = index">
                    <td>{{emp.name}}</td>
                    <td>{{emp.designation}}</td>
                    <td>{{emp.salary}}</td>
                    <td>
                        <button (click)="editEmployee(i)" class="btn btn-success">Edit</button>
                        <button (click)="deleteEmployee(i)" style="margin-left:20px" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>